<section class="home_sctn2 mt-5 pt-4 pb-4">
    <div class="container_full">
        <h1 class="center yellow_bt_brdr">The conclusion</h1>
        <h5 class="center">The framework is getting smoother and smoother in making the Angular platform best. The main reason for many of 
            us to upgrade to new versions of angular is to get a performance boost.</h5>

            
        <div class="full_video section_top50 full_video2">
            <div class="full_video_bx">
                <div class="welcom_video">
                    <div class="video">
                        <img src="./assets/images/video_img6.jpg" alt="" class="w-100">
                    </div>
                </div>
            </div>
            <div class="full_video_rt">
                <div class="wel_tx">
                    <p><b>- Did it perform to your expectations? </b> <br>Yes, it is as per our expectations.</p>
                    <p><b>- Was it difficult to install or configure? </b> <br>No. It was easy to install and configure. However we had faced some issues due to mismatch of NodeJS (updated) and Angular version compatibility. But we resolved it quickly, as there are many communities are available for Angular.</p>
                    <p><b>- Was it easy to create the page(s) with it? </b> <br>Yes, it is easy to create the pages with it. Also, routing feature is awesome to link the pages in the single page application (SPA).</p>
                    <p><b>- Was the learning curve steep compared with regular HTML/CSS/JavaScript/PHP? </b> <br> Yes, it is bit complex as compare to regular HTML/CSS/JavaScript but once we learned it then developed becomes smooth and fast.</p>
                    <p><b>- Would you have done things differently in retrospect? </b> <br> Yes, we have used Angular and their features like routing, SCSS for CSS</p>
                    <p><b>- Did you regret your choice of framework?</b> <br>No. We are happy with our selection for Angular.</p>
                    <br>
                    <h1>Back-end (Flask) Conclusion</h1>
                    <p>Working with Flask framework was a good experience for us and all our expectations went true by this framework. As it is a easy framework to work with and has many accessible features it makes our process so easy. Even though backend frameworks are hard to install because we cannot do that on the ryerson server but it was not difficult to to install at all. Besides, creating pages was so easy as well. We are really satisfied with this choice and happy to use flask as our framework and have no regrets about choosing that.</p>
                    
                </div>
            </div>
        </div>

        
    </div>
</section>
