
<div class="container_full mt-5 pt-2">
	<h2 style="text-align:center;" class="center yellow_bt_brdr">Created By: Sam Ensafi, Sina Pahlavan, Arash Amini, Nika Zinsaz</h2>
	<br><br><br><br>
    <h1>References page</h1>
</div>

<div class="btnDiv text-center multPLtBTn">
    <a target="_blank" href="https://light-it.net/blog/8-advantages-of-angular-for-businesses-and-developers/" class="sub_BTn btn btn-primary"> Advantages of Angular for Businesses and Developers </a>
    <a target="_blank" href="https://www.greycampus.com/blog/programming/good-and-bad-of-angular-development" class="sub_BTn btn btn-primary">Understanding the pros and cons of Angular Development</a>
    <a target="_blank" href="https://angular.io/guide/setup-local" class="sub_BTn btn btn-primary">Setting up the local environment and workspace</a>
    <a target="_blank" href="https://material.angular.io/guide/getting-started" class="sub_BTn btn btn-primary">Angular Material</a>
    <a target="_blank" href="https://allwin-raju-12.medium.com/disadvantages-of-flask-95f1ff8f83bf" class="sub_BTn btn btn-primary">Disadvantages of flask</a>
    <a target="_blank" href="https://www.digitalocean.com/community/tutorials/how-to-make-a-web-application-using-flask-in-python-3" class="sub_BTn btn btn-primary">Make a Web Application Using Flask</a>
    <a target="_blank" href="https://flask.palletsprojects.com/en/1.1.x/patterns/favicon/" class="sub_BTn btn btn-primary">Flask Server Set up</a>
    <a target="_blank" href="https://help.pythonanywhere.com/pages/Flask/" class="sub_BTn btn btn-primary">Flask Server Set up2</a>
    <a target="_blank" href="https://flask.palletsprojects.com/en/1.1.x/quickstart/#accessing-request-data" class="sub_BTn btn btn-primary">Flask Server Set up3</a>        



</div>

