.contTx {
    font-size: 20px;
    color: #333;
    line-height: 22px;
    font-weight: 500;
}
.sub_BTn {
    text-align: center;
    margin: 15px auto;
    max-width: 200px;
    width: 100%;
    padding: 12px;
    color: #fff;
    margin-top: 30px;
    font-size: 18px;
}
