<div class="menuIn">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <h1 class="Logo">Logo</h1>
      </div>
      <div class="col-md-8">
        <div class="mn_menu">
          <ul>
            <li><a routerLink="/page1" routerLinkActive="active">First Page</a></li>
            <li><a routerLink="/page2" routerLinkActive="active">Second Page</a></li>
            <li><a routerLink="/page3" routerLinkActive="active">Third Page</a></li>
            <li><a routerLink="/page4" routerLinkActive="active">Fourth Page</a></li>
            <li><a routerLink="/page5" routerLinkActive="active">Fifth Page</a></li>
            <li><a routerLink="/page6" routerLinkActive="active">Sixth Page</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contentHolder">
  <router-outlet></router-outlet>
</div>

<div class="footer">Copyright © 2021 | All Rights Reserved</div>