

    <section class="home_sctn2 mt-5 pt-4 pb-4">
        <div class="container_full">
            <h1 class="center yellow_bt_brdr">Getting Started with Angular Material</h1>
            <h5 class="center">This guide explains how to set up your Angular project to begin using Angular Material. 
                It includes information on prerequisites, installing Angular Material, and optionally 
                displaying a sample Material component in your application to verify your setup.</h5>

                <h5 class="mt-4 pt-1"><b>Angular Resources</b></h5>

                   <h5> If you are new to Angular or getting started with a new Angular application, see Angular's full Getting Started Guide and Setting up your environment.</h5>
                    
                    <h5>For existing applications, follow the steps below to begin using Angular Material.</h5>
    
            <div class="full_video section_top50 full_video2">
                <div class="full_video_bx">
                    <div class="welcom_video">
                        <div class="video">
                            <img src="./assets/images/video_img5.jpg" alt="" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="full_video_rt">
                    <div class="wel_tx">
                        <h2> Install Angular Material</h2>
                        <p>Use the Angular CLI's installation schematic to set up your Angular Material project by running the following command:</p>
                        <div class="angularCode ml-0 mb-4">ng add @angular/material</div>
                        <p>The ng add command will install Angular Material, the Component Dev Kit (CDK), Angular Animations and ask you the following questions to determine which features to include:</p>
                        <ul>
                            <li>Choose a prebuilt theme name, or "custom" for a custom theme: <br> You can choose from prebuilt material design themes or set up an extensible custom theme.</li>
                            <li>Set up global Angular Material typography styles: <br> Whether to apply the global typography styles to your application.                            </li>
                            <li>Set up browser animations for Angular Material: <br> Importing the BrowserAnimationsModule into your application enables Angular's animation system. Declining this will disable most of Angular Material's animations.</li>
                            
                        </ul>
                        
                    </div>
                </div>
            </div>
    
            
        </div>
    </section>

